body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: x-small;
  background: #DDE;
}

div.block {
  border-width: 1px;
  border-color: #778;
  border-style: solid;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  background: #FFF;
}

div.block_title {
  font-size: 14pt;
  color: #000000;
}

div.block_content {
  font-size: 12pt;
}

table {
  border-width: 1px;
  border-color: #edecec;
  border-style: solid;
  border-collapse: collapse;
}

th {
  padding: 3px;
  font-size: 9pt;
  font-weight: normal;
  color: #666666;
  border-width: 1px;
  border-color: #edecec;
  border-style: inset;
}

td {
  padding: 3px;
  color: #666666;
  font-size: 10pt;
  border-width: 1px;
  border-color: #edecec;
  border-style: inset;
}

span.globType {
  font-size: 12pt;
}

table.stack {
  border-style: none;
  margin-left: 20px;
}

td.stack_class {
  border-style: none;
  text-align: right;
}

td.stack_method {
  border-style: none;
  text-align: left;
}

span.stack_method {
}

span.stack_line {
  font-size: 10px;
}

pre {
  margin-left: 20px;
  font-family: Courier New;
  font-size: 10pt;
}

span.threadInfo {
  text-align: right;
  font-size: 10pt;
}